[2013-10-03 02:29] pavlov99 opened #1 "use own jsonrpc.six"
library is done, there 3 places for six, possible to exclude dependency

[2013-10-03 02:30] pavlov99 opened #2 "Merger JSONRPCManager and JSONRPCProtocol"
classes are about the same. Otherwise protocol is meaningless.

[2013-10-03 02:31] pavlov99 opened #3 "Change _dict -> _data"
field with data should be changed to avoid misunderstanding with batchrequest._dict (it is list)

[2013-10-03 02:31] pavlov99 opened #4 "Add documentation, upload to readthedocs"

[2013-10-03 02:32] pavlov99 opened #5 "Test python 2.5 - 3.3, pypy with tox. Use travis for tests."

[2013-10-09 19:15] pavlov99 opened #7 "check {"jsonrpc": "2.0"} flag in JSONRPCResponseManager during response creation."

[2013-10-13 10:04] pavlov99 opened #8 "add json-rpc 1 support"

[2013-10-13 14:24] #5 closed, assigned to pavlov99

[2013-10-13 14:33] #1 closed, assigned to pavlov99

[2013-10-14 05:34] rawberg opened #9 "http transport request example"
It would be great if you could add a quick example to the readme or docstrings to show how it can be used with an http transport like [Requests](http://docs.python-requests.org/en/latest/).

[2013-10-14 10:27] #3 closed, assigned to pavlov99

[2013-10-15 04:10] #9 closed, assigned to pavlov99

[2013-10-17 04:37] pavlov99 opened #10 "Add jsonrpc.dispatcher decorator to be able to collect dictionary of function -> callable."

[2013-10-18 16:51] #10 closed, assigned to pavlov99

[2013-11-09 15:17] pavlov99 opened #11 "add from_json support to JSON-RPC response"

[2013-11-09 15:17] #8 closed, assigned to nobody

[2013-11-09 15:17] #2 closed, assigned to nobody

[2013-11-09 15:18] #7 closed, assigned to pavlov99

[2014-01-14 12:51] asaflas opened #13 "Werkzeug python 3.3 manager.py exception in handle() method"
Hi pavlov99

First of all Thank You for good job done in json-rpc package!

i got exception when testing example provided on python package page for json-rpc. It concern changes in Werkzeug guess due to python v3 when request is encoded as bytes instead of string like in python v2. Managed solve it by change in manager.py (see bottom of mail)

My current setup is centos 6.5 virtual machine virtual

[2014-01-15 07:46] #13 closed, assigned to pavlov99

[2014-03-20 07:03] robby-d opened #17 "it would be nice to be able to return None from jsonrpc calls"
I have API calls I'd like to return None from (i.e. no results returned)... however jsonrpc doesn't allow this (see line 62 at https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/base.py)

[code]

Could we take that line out? Any negatives to doing that?

[2014-05-15 01:24] #17 closed, assigned to nobody

[2014-11-22 19:49] solorab opened #23 "Fails to return null"
I want to return null as a result. I expect like `{"jsonrpc": "2.0", "result": null, "id": 0}`, but it throws exceptions: `ValueError: Either result or error should be used` and `UnboundLocalError: local variable 'output' referenced before assignment`.
I think the reason is that it takes `None` as *not defined* and ignores `null`.
Would you correct this problem?

Example code:

[code]

This prints

[2015-02-16 17:11] crazylime opened #24 "dispatcher class methods"
If I use a class to hold the dispatcher methods and decorate them with @dispatcher.add_method
I always get "Invalid params"  code: -32602.

I have to add a parameter 'self':None to the request to get this to work.

Thank you

[2015-02-16 17:16] pavlov99 commented on #24
@crazylime let me check it.

[2015-02-16 17:19] pavlov99 commented on #24
@crazylime , could you provide code example? Does this help https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/tests/test_dispatcher.py#L63-73 ?

[2015-02-17 08:44] crazylime commented on #24
Hi

Passing in the class to the Dispatcher constructor works perfectly.

Thank you

[2015-02-17 09:03] pavlov99 commented on #24
You are welcome! Happy library usage!

[2015-02-17 09:03] #24 closed

[2015-02-25 02:41] pavlov99 commented on #23
Information was not added to the issue, closed as outdated.

[2015-02-25 02:41] #23 closed

[2015-03-18 07:25] deadbeef404 opened #25 "TypeError in user code is hidden by library"
Can I please draw your attention to `jsonrpc/manager.py` in `__get_responses` where [parameters are validated for a method](https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/manager.py#L106).
Due to the way that parameters are validated, a `TypeError` is raised when the method is given incorrect parameters, and thus, the following line is executed
[code]
The exception handling around this d

[2015-03-19 14:47] pavlov99 commented on #25
@deadbeef404 sure, let me see.

[2015-03-20 02:57] pavlov99 commented on #25
@deadbeef404 let us solve this issue from the business side.
Technically, it is impossible to distinguish `TypeError` because of invalid parameters and `TypeError` thrown from the function itself. Unfortunately, json-rpc could not do much about it, it does not know function it calls. What is possible to do:

1) Catch TypeError from inside the function and throw JSONRPCDispatchException
https://git

[2015-03-20 03:45] pavlov99 commented on #25
I have implemented body message to TypeError (InvalidParams). https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/manager.py#L106-110

It gives more information about the error: https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/tests/test_manager.py#L82-91

Versionadded: 1.8.4

[2015-03-23 01:04] deadbeef404 commented on #25
This change is in improvement as it would at lease preserve some information. There is the slight issue though: this is still is returning the wrong error code for the exception, and thus not matching the specification.

In regards to your point "it does not know what function it calls", well, it does. It has a reference to it to which it passes `*request.args, **request.kwargs`.

Taking this into

[2015-03-23 01:10] deadbeef404 commented on #25
For a better approach than the simple co_varnames, this seems useful: http://stackoverflow.com/a/197053/945856

[2015-03-23 04:47] pavlov99 commented on #25
@deadbeef404 point taken. I did not want to play with code inspection, but seems we could not avoid it. To follow specification is important and I agree with you that current error type is not correct in case of TypeError inside the function. Let me play with the code and add suggested functionality.

[2015-03-24 02:28] pavlov99 commented on #25
@deadbeef404 , updated code https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/manager.py#L117-120
Version 1.9.0 has been released.

[2015-03-24 02:50] deadbeef404 commented on #25
Thank you for your hard work! :+1:

[2015-03-24 02:50] #25 closed

[2015-03-30 09:17] prawn-cake opened #26 "UnboundLocalError: local variable 'output' referenced before assignment"
Unexpectedly occurs. Seems pretty clear.
Version: `json-rpc==1.9.0`

[code]

[2015-05-26 01:04] punya commented on #4
Should this issue be closed, now that http://json-rpc.readthedocs.org/en/latest/ exists?

[2015-05-26 09:49] pavlov99 commented on #26
could not reproduce.

[2015-05-26 09:49] #26 closed

[2015-05-26 14:18] pavlov99 commented on #4
@punya yes, you are right!

[2015-05-26 14:18] #4 closed

[2015-05-27 08:18] pavlov99 opened #29 "output is referenced before assignment error"
If function does not return output, django manager returns 500 error: reference before assignment.

Function:
[code]

default django client is used. Request:
[code]

Server response:
[code]

Quickfix:
[code]

[2015-05-27 08:20] pavlov99 commented on #29
+ @prawn-cake seems bug was reproduced.

[2015-06-02 05:47] pavlov99 opened #30 "add python asycio backend support."

[2015-08-03 21:30] jashug opened #33 "Customizing the dispatcher for the Flask back end is difficult."
Since `Dispatcher` acts as a collection, it evaluates as `False` when empty. This causes the assignment `self.dispatcher = dispatcher or Dispatcher()` to make a new `Dispatcher` instance when passed an empty `Dispatcher`.

To reproduce:
[code]

[2015-08-07 03:37] #33 closed

[2015-08-07 03:38] pavlov99 commented on #33
@jashug , custom dispatcher functionality was implemented and new version of the package released: https://pypi.python.org/pypi/json-rpc/1.10.2

[2015-08-07 19:16] jashug commented on #33
Thanks for the update. That fixed my problem.

[2015-08-12 16:31] jashug commented on #33
I'm using this in https://github.com/hashplex/Lightning, specifically `jsonrpcproxy.py`.

[2015-08-25 12:26] dharhas opened #35 "are there any examples or guidance on how to use this with zeromq?"

[2015-10-26 14:13] nikitinsm commented on #29
+1 Да баг кроется в JSONRPC10Response/JSONRPC20Response

Вот тут:
[code]

Так как все происходит внутри генератора, то попытка выйти из него приводит видимо к переходу на yield, а там output еще не существует, самое веселое статический анализатор этого не покажет.

[2015-10-30 15:19] csselo opened #38 "client example"
Hi

I want to test ur server with advanced rest client
but some param is wrong

what must I write in raw payload panel?

thanks

[2015-10-30 15:29] csselo commented on #38
I copied ur payload but nothing change
parse error

like
{
        "method": "add",
        "params": [1, 2],
        "jsonrpc": "2.0",
        "id": 1,
    }

[2015-10-30 15:37] csselo commented on #38
it works :) when I erase blanks

[2015-10-31 16:35] #29 closed

[2015-10-31 16:36] pavlov99 commented on #38
Great!

[2015-10-31 16:36] #38 closed

[2015-11-11 16:43] csselo opened #39 "how can I remove jsonrpc and id from the response?"
??

[2015-11-13 08:57] pavlov99 commented on #39
May I know what is your use case @csselo ? By standard, you should have them in the message.
Alternatively you could use json rpc 1.0: https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/jsonrpc1.py

[2015-11-16 10:33] #39 closed

[2015-11-24 14:31] sevenjay opened #40 "custom define for application defined errors."
the spec. mentions that "-32000 to -32099 Server error 	Reserved for implementation-defined server-errors."

The remainder of the space is available for application defined errors.
Could we have custom define errors for application in the future?
Like:

        return JSONRPCError(-32000, "Empty Request").as_response()

or just let user define class JSONRPCEmptyRequest(JSONRPCError)
Thanks

[2015-12-07 18:26] csselo opened #41 "Chat api"
Hi

I want to make a simple chat server with this api but it is staighless how can I send a interrupt to the client for fetching messages?

if I use "always check" data, it become harmful for the server

any ideas?

[2015-12-11 16:31] csselo commented on #30
Hi

I made a simple webservice but when I test load test, it didnt work asyc.
What must I do for asyc

[2015-12-11 17:03] csselo commented on #30
When you call synchronous web service the service processes the request and return HTTP status code 200 OK (1) if everything went as expected, or error 4xx. The call is blocked while processing and the request and can take significant time.

When web service is asynchronous the main difference is that call should return instantly with HTTP 202 ACCEPTED (2) which means that request is taken in queu

[2015-12-12 15:02] pavlov99 commented on #30
@csselo for async web service service indeed needs to return HTTP 202 on call and then push result to client on completion, say using web sockets.

[2015-12-12 15:08] pavlov99 commented on #41
Hi, @csselo . Could you push messages from the server instead of long pulling them the client? It is possible to use web sockets for that kind of tasks.

If you would like to interrupt execution from client side, you could send interrupt message (another api call), so server would not push result. To do that, on task creation in the queue, server should return task id, such as one from `celery`. T

[2015-12-12 15:13] pavlov99 commented on #40
Dear @sevenjay , please take a look at custom exceptions here: https://json-rpc.readthedocs.org/en/latest/exceptions.html#json-rpc-exceptions

to define one, you would need to create custom exception class, inherited from `jsonrpc.exceptions.JSONRPCDispatchException`. Check out this test as well: https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/tests/test_jsonrpc_errors.py#L143-L149

[2015-12-13 10:59] csselo commented on #30
When a process take a long time, the other posts are waiting for it so it doesnt work async

[2015-12-13 11:00] csselo commented on #41
thank u

[2015-12-14 01:25] pavlov99 commented on #30
Lets denote slow and fast methods/APIs as A and B. On client call of method A, server adds it to the execution queue and returns queue id of the task to client. At this point of time, server is free to accept other method B. Meanwhile, first task from the queue is taken by another process, which would push result to the client on completion. One of the ways to push result is to use web sockets.

[2015-12-14 13:36] csselo commented on #30
is there any backend setting?

[2015-12-17 12:04] csselo commented on #30
Hi

backend config?

[2015-12-18 03:04] pavlov99 commented on #30
@csselo no, as of now backend config for asyncio does not exist.

[2015-12-18 15:10] csselo commented on #30
I think it needs backend setting

[2016-02-18 00:42] rtubio opened #44 "HTTPS w/TLS support"
Dear all,

Does this library support establishing connections to a JSON-RPC server over HTTPS?

I am currently using RPC4Django that implements a JSON-RPC interface over HTTPS (externally handled by Apache).

Thanks, Ricardo.

[2016-02-19 06:29] pavlov99 commented on #44
Dear Ricardo,

This library does not depend on http/https protocol, it is purely transport implementation. Let me address your questions in details.

1. If the use-case is to connect to json-rpc server, than there is no point to use any "json-rpc-like" library. Python requests would do the job. Even though this library supports client connection, I personally think it is overhead to use "json-rpc"

[2016-02-19 06:30] #11 closed

[2016-02-19 06:39] rtubio commented on #44
Thanks @pavlov99 , that answers my question for sure.

[2016-02-19 06:39] #44 closed

[2016-05-14 15:01] cjerdonek opened #46 "Django backend fails on exception with non-serializable argument"
I encountered a situation where json-rpc will break on certain exceptions. This is with json-rpc version 1.10.3 and Django 1.9.6.

If an exception is raised with code like `raise Exception(foo)`, where `foo` is not serializable, then json-rpc doesn't return a proper JSON response.

Here is an example stack trace:

    Traceback (most recent call last):
      File ".../python3.5/site-packages/djang

[2016-05-14 15:27] pavlov99 commented on #46
Dear @cjerdonek

I have some concerns about that use case. As you mentioned, application might raise an exception, which is not under developer's control. If library would not validate the type, it might affect frontend developers later on. My suggestion would be to inherit from current serializer and inject it to jsonrpc manager.

[code]

Then this encoder could be used here: https://github.com/p

[2016-05-14 15:45] cjerdonek commented on #46
@pavlov99 Thanks for such a prompt reply. It seems to me though that json-rpc has a responsibility to meet its guarantee and return valid JSON. Every application is susceptible to this issue. (Incidentally, it also seems that the issue isn't limited to the Django backend as you will see below.)

In [this function](https://github.com/pavlov99/json-rpc/blob/f35f16bccbff148210bbf5496fc8190546940ca6/j

[2016-05-14 15:59] cjerdonek commented on #46
Another suggestion: if you are concerned about backwards-forwards compatibility, etc, how about handling the serialization exception and raising a serializable exception saying something like, "unserializable error raised with type: ..."? That way developers will at least be alerted to the issue on a case-by-case basis, but as JSON as opposed to 500 response.

[2016-05-30 00:34] cjerdonek opened #47 "On certain TypeErrors, json-rpc fails to log and responds incorrectly"
If application code raises a TypeError, json-rpc doesn't necessarily log the exception and stack trace. Instead, it responds with an "Invalid params" error with code "-32602".

This is also not a correct message in this case because the reason for the error is not invalid parameters sent by the caller.  It is an error in application code.

I believe this issue is due to the exception handling [her

[2016-05-30 01:06] cjerdonek commented on #47
Suggestion: instead of the tricky logic in `is_invalid_params()`, is there any reason you couldn't do something like inspect the depth / level of the stack trace to see where the error is originating? It seems like that may be simpler, or more importantly more robust.

[2016-05-30 01:35] cjerdonek commented on #47
Another option could be to, inside `is_invalid_params()`, create a function on the fly with the same signature as obtained by `inspect.getargspec(func)` but with empty body `pass`. Then you could invoke the function and see if an error occurs. That way you will be using the same rules that Python uses.

[2016-05-30 12:45] pavlov99 commented on #47
@cjerdonek application is supposed to raise exceptions, inherited from `JSONRPCDispatchException`, so the manager could show a proper message. If an exception is not specified, then here would be a problem as you mentioned. `is_invalid_params()` could use `inspect.getargspec(func)`. Any pull requests would be highly appreciated.

[2016-05-30 19:35] cjerdonek commented on #47
Okay, I was more referring to the case that arises if there is a bug in the application code, in which case the developer doesn't have control over the exception type. In this case, this issue is causing json-rpc's error handling not to help the developer as much in diagnosing the source of the bug. However, this may be addressable by providing a "catch-all" error handler in the application's code

[2016-05-31 00:51] cjerdonek commented on #46
For the record, I just want to include this from the [JSON-RPC 2.0 Specification](http://www.jsonrpc.org/specification#response_object), section 5 Response object:

Thus, this issue is about a case in which json-rpc does not respond with a JSON object. Json-rpc should have some kind of global exception handler to ensure that it always returns a JSON response, regardless of the underlying applicati

[2016-05-31 02:42] pavlov99 commented on #46
@cjerdonek absolutely agree with the latest point. Let me add tests for Django 1.9.

[2016-05-31 02:43] #41 closed

[2016-08-25 13:25] arnuschky commented on #46
I am facing the same problem. Any news on this?

[2016-10-05 03:24] pavlov99 opened #51 "Update six"
https://bitbucket.org/gutworth/six/src/ca4580a5a648fc75abc568907e81abc80b05d58c?at=default

[2016-10-18 12:56] michaelimfeld opened #52 "Variable number of args and kwargs for handler functions"
Hi

I couldn't find anything about this in the docs:
Does this library support a variable number of args **and** kwargs for a handler function?

Example:
[code]

[2016-10-18 15:52] pavlov99 commented on #52
@michaelimfeld it does support a variable number of arguments, however, with slightly different approach. JSON-RPC standard allows arguments of the function to be sent either as list or dictionary, but not as a mix of them. This library follows the standard and does not allow both `*args` and `**kwargs` at the same time. There is a workaround in your case, `args` could be extra key of `kwargs`:

[

[2016-10-24 07:26] michaelimfeld commented on #52
Yes, works!

[2016-10-24 07:26] #52 closed

[2016-12-01 18:05] rossgray commented on #47
Was anything decided regarding this? I am running into the same issue, where a `TypeError` in the application code is being caught and returned as a "Invalid params" error. Our function has a `func(*args, **kwargs)` signature and hence `is_invalid_params()` is returning `True` when it shouldn't.

[2016-12-02 04:04] YugWu opened #54 "Help! How to set a new JSONEncoder"
When my server try respone some data including  bson`s objectid:

```TypeError: ObjectId('5840edd2f04ba72b510184bf') is not JSON serializable```

I know that should set a new JSONEncode, but how?

[2016-12-02 06:46] YugWu commented on #54
ok, I find a way:
Before:

[code]
I changed to:

[code]

[2016-12-02 06:46] #54 closed

[2016-12-02 06:52] pavlov99 commented on #54
@YugWu :+1:

[2016-12-20 17:30] Naatan opened #55 "Support multiple callbacks"
At the moment there is no way of specifying whether a response is final or if there are more responses, meaning JSON-RPC only supports a single response for each request. This means it does not cover use-cases where the server sends response data as it comes in, rather than having to wait for all the response data to complete and then send it. Think for an example of a search engine that uses JSON

[2016-12-21 01:38] pavlov99 commented on #55
Yes, correct, there is no such case. And I would argue whether it is good to implement such architecture. If you would like to receive multiple responses as they are generated, then it is server-side push message. It would not help to keep a connection with the server and wait for the "final" response. I believe, that web-sockets could help to address the issue. What do you think about it?

[2017-02-09 03:13] pavlov99 commented on #55
No further feedback. Closing the issue.

[2017-02-09 03:13] #55 closed

[2017-02-09 03:13] pavlov99 opened #56 "Django backend: add jsonrpc batch support."
At the moment it fails.

[2017-03-28 18:51] mikepurvis opened #57 "Client API?"
Would this package consider supplying a client API similar to [this one](https://github.com/gerold-penz/python-jsonrpc#http-client-example)?

If the `getaddr` tricks give people the willies, an alternative might be to explicitly initialize each remote method, for example:

[code]

[2017-03-29 06:03] pavlov99 commented on #57
Hi, @mikepurvis

It is possible, in fact, this package has response parsing functionality already. In terms of client implementation, I'm a bit skeptical:

* First of all, it should be transport related (http/rabbitmq/etc.), which was not initially designed (transport agnostic library)
* Second, client implementation is relatively simple and might not worth it to be in the library.

Both points ar

[2017-03-29 14:27] mikepurvis commented on #57
Thanks for the response! My particular use case is a background management daemon which exposes a jsonrpc service that a CLI tool is able to interact with in order to command/query the daemon. Both parts of this system are written in Python.

I didn't realise there was [a result class already present here](https://github.com/pavlov99/json-rpc/blob/5605dc50fa495841315f28266ef80d0692e70d18/jsonrpc/j

[2017-04-04 15:36] happyleavesaoc opened #59 "json string -> JSONRPC20Response"
I receive a JSON string and want to construct a `JSONRPC20Response` object, like:

`JSONRPC20Response.from_json(my_str)` or ` JSONRPC20Response(**json.loads(my_str))`

However, `JSONRPC20Response` expects `_id` instead of `id`, so the response's `id` is always `None`.

I realize I could simply do `JSONRPC20Response(_id=obj.get('id'), ...)` but it seems like there should be a more natural way. I wo

[2017-06-08 02:52] Scofieldsu opened #60 "question: use it with flask to a demo,but the requested url not found."
[code]
- - -
then i use postman to  post the url : localhost:5000/api/

data:{
    "jsonrpc": "2.0",
    "id": "1111",
    "method": "my_method",
    "params": ["1"]
  }
- - -
response  404
- - -
help~

[2017-06-08 04:22] pavlov99 commented on #60
@Scofieldsu should not it be a call to `localhost:5000` instead? Seems you create api endpoint within `/` path: `app.add_url_rule('/', 'api', api.as_view())`

[2017-06-08 04:33] Scofieldsu commented on #60
@pavlov99 thank u!! i  misunderstand add_url_rule('/', 'api', api.as_view())~~i want to use this json-rpc to do  webapi test page  . similar to flask-jsonrpc 's  /api/browse, but it depends on flask.

[2017-06-13 05:50] MattFisher opened #63 "Consider accepting params=None for JSON-RPC 1.0"
We are dealing with a client library that sends `"params": null` in a JSON-RPC 1.0 ["hello" request](http://www.liss.org.au/specifications#_Toc286144270), which is rejected by `JSONRPC10Request.from_json()` (as specifically tested by `TestJSONRPC10Request.test_params_validation_none()`) because it's not a list.

The [JSON-RPC 2.0 Specification](http://www.jsonrpc.org/specification) states the foll

[2017-10-17 22:20] lorddaedra opened #66 "Improve test runner configuration"
Please, add Python 3.5, Python 3.6, Django 1.11 and Django 2.0b1 (allow failures) support for tests...

[2017-10-20 04:51] pavlov99 commented on #60
Seems solution has been found. Nothing to fix.

[2017-10-20 04:51] #60 closed

[2017-10-28 14:16] pavlov99 commented on #66
New version: major updates for tests, now with python 2.6, 2.7, 3.3-3.6.
Django 2.0 is still in beta, so it would not be supported for a while.

[2017-10-28 14:16] #66 closed

[2017-10-28 14:42] pavlov99 opened #69 "Add contribution guidelines"
Add documentation on how to write a code, what code to write and additional changes.

1. What does this library do: no dependencies. It does not test django/flask compatibility matrix.
2. Code should be covered with tests and documentation written for function as well as in docs/ if appropriate. If commit breaks test I would not merge.
3. If you want to improve, good way is to ask questions first

[2017-10-28 14:44] pavlov99 opened #70 "Add README badges"
1. Python versions
2. Coverage (connect)
3. Codacy
4. Documentation
5. PyPI version

All should be opened in a new window.

[2017-10-28 15:27] pavlov99 opened #71 "ADD: Code of conduct"
1. This version is good: https://www.contributor-covenant.org/
2. Add project name to adopters list: https://www.contributor-covenant.org/adopters.html
3. Figure out how to add a project email

[2017-10-28 15:47] pavlov99 commented on #69
Could adopt one from Atom: https://github.com/atom/atom/blob/master/CONTRIBUTING.md

[2017-10-28 15:48] pavlov99 commented on #69
Extra info on contributing guidelines from GitHub: https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2017-10-28 15:52] pavlov99 opened #72 "Research moving to nose2 from nose"
* http://nose.readthedocs.io/en/latest/
* http://nose2.readthedocs.io/en/latest/index.html
* http://www.patricksoftwareblog.com/tag/nose2/
* Nose vs Nose2: https://nose2.readthedocs.io/en/latest/differences.html
* Nose2 on reddit: https://www.reddit.com/r/Python/comments/3ys29v/nose_alternatives_nose2_pytest_or_something_else/

[2017-10-28 16:14] pavlov99 commented on #71
Adopted https://www.contributor-covenant.org/ version. Project email uses google mailing list.

Code of Conduct:
https://github.com/pavlov99/json-rpc/blob/master/CODE_OF_CONDUCT.md

[2017-10-28 16:23] pavlov99 commented on #71
Opened pull request for adopters list: https://github.com/ContributorCovenant/contributor_covenant/pull/469

[2017-10-28 16:23] #71 closed

[2017-10-29 05:50] #57 closed

[2017-10-29 05:58] pavlov99 commented on #63
Hi, @MattFisher

Sorry for such a late reply. I was out of python development for a while.

As you have mentioned, there is a `liss.hello()` call without parameters. I would argue that it is better to change the client to use an empty list in parameters. According to the specification json-rpc 1.0 does not expect to receive null. If we make a patch for that case it might affect other users.

The o

[2017-10-29 06:08] pavlov99 commented on #59
Hi, @happyleavesaoc

Sorry for my late reply. I was out of python development world for a while.

Indeed, there is no method to construct response from a string. I see multiple solutions:
1. Switch from `_id` to `id` in arguments, so your proposed solution would work
2. Implement custom from_json method for response.

Did not have this use case before and thank you for pointing this out. By the wa

[2017-10-29 06:17] pavlov99 opened #73 "Research code coverage services"
Currently this project uses coveralls. Tox uses https://codecov.io/gh/tox-dev/tox

[2017-10-29 15:00] pavlov99 opened #74 "FIX: removed pull requests."
During rebase on master branch several important pull requests were missing! Manually merge them.

https://github.com/pavlov99/json-rpc/pull/65
https://github.com/pavlov99/json-rpc/pull/62
https://github.com/pavlov99/json-rpc/pull/61
https://github.com/pavlov99/json-rpc/pull/45

[2017-10-29 15:34] pavlov99 commented on #74
Dear @sethrh

Sorry for not coming to you for such a long time. I would like to thank you for your pull request to json-rpc library: https://github.com/pavlov99/json-rpc/pull/45

Unfortunately, because of internal rebase operations, this pull request became invalid. To fix that I applied your original commits:
https://github.com/QuantumSpatialInc/json-rpc/commit/9914ab5ab2304dae9acf8bf8b35d4a20b08

[2017-10-29 16:08] pavlov99 commented on #74
Dear @smagafurov

Sorry for not coming to you for such a long time. I would like to thank you for your pull request to json-rpc library: https://github.com/pavlov99/json-rpc/pull/65

Unfortunately, because of internal rebase operations, this pull request became invalid. To fix that I applied your original commits:
https://github.com/smagafurov/json-rpc/commit/aacdcebddaeefd972237c91322615d9cd5f45f

[2017-10-30 15:01] pavlov99 commented on #70
Done.

[2017-10-30 15:01] #70 closed

[2017-10-30 15:02] pavlov99 commented on #69
Done.

[2017-10-30 15:02] #69 closed

[2017-11-07 08:39] hugovk commented on #72
See also https://github.com/nose-devs/nose2/issues/361.

[2017-11-07 08:42] pavlov99 commented on #72
Thanks, @hugovk
One need to research this topic, indeed.

[2017-11-22 17:48] flound1129 opened #79 "Way to pass additional data to dispatcher? [question/feature request]"
I need to pass some additional data to the request dispatcher (a connection ID)

What is the best way to accomplish this?  Currently I'm munging the request like so:

[code]

This is obviously not optimal for multiple reasons.  Is there a better way?

[2017-11-29 13:32] biozz opened #80 "Add support for flask blueprints subdomains"
### Description

Currently it is not possible to natively use flask blueprints subdomains wildcards, because `JSONRPCAPI.jsonrpc` method in flask backend doesn't handle additional argument if blueprint subdomain is defined as a wildcard, i.e.

[code]

In this way, the api can be used through `api.example.com` or `api2.example.com` or `other.example.com`.

### Steps to Reproduce

1. Define api endp

[2017-12-16 14:35] liminspace opened #83 "Add names for django's views"
Hi!
It's a veeeeery goooood idea to add names for django's views.
Just replace this
[code]
with this
[code]
in file `backend/django.py`.
Let's make this library better!
Thanks ;)

[2017-12-18 00:11] rsyring commented on #72
FWIW, we have moved to pytest and prefer it to nose.

[2017-12-18 01:48] pavlov99 commented on #83
Hi, @liminspace

Thanks for the suggestion! Would you mind to submit a PR?

[2017-12-18 21:41] liminspace commented on #83
I've added additional changes:
1. Added possibility not to use map view, because it's not good for production, for example. Now it depends of settings.JSONRPC_MAP_VIEW_ENABLED or settings.DEBUG. I must be very useful.
2. Fixed url rule for map adding `^`.
3. Moved out `serialize` function to prevent define it every request.

[2018-01-04 16:18] biozz commented on #80
Hi!
After some digging through the code I found quite simple solution to this. All I had to do was to add `**kwargs` into `jsonrpc` and `jsonrpc_map` methods in backend/flask, so Flask can pass the subdomain argument in.

[code]

That way these methods will not fail as I mentioned before:

[code]

And now subdomain name can be accessed through Flask's `request.view_args` inside jsonrpc method.

I

[2018-05-15 16:19] toddrme2178 opened #90 "License file in pypi archive"
The pypi source archive isn't including the `LICENSE.txt` file. Would it be possible to add it? It is very helpful when packaging this for Linux distributions. Thank you.

[2018-05-17 20:21] PerMildner opened #91 "Link to implementations on project page is useless"
### Description

The link at https://pypi.org/project/json-rpc/#competitors is no longer useful since the list of implementations is gone from the Wikipedia article https://en.wikipedia.org/wiki/JSON-RPC

[2018-05-28 13:27] ahmadwaqaskhilji opened #92 "Uart as a transport layer"
Hi,

Is is possible to use the json-rpc with uart as a transporter. Do you have any example where transport layer and protocol are separated.

Thank you

[2018-05-29 02:54] pavlov99 commented on #92
Hi, @ahmadwaqaskhilji

Are you referring to [this](https://en.wikipedia.org/wiki/Universal_asynchronous_receiver-transmitter) uart? Please provide a link to it.

Transport/protocol separation is following:

* Protocol is responsible for a message format, e.g. it defines JSON object with `method` and `args`. This is what `json-rpc` library does, it is not aware of how you transfer the message.
* Tr

[2018-06-04 00:44] #92 closed

[2018-06-18 01:22] ikv opened #93 "Server issued notifications"
I would like to push some notifications from the server down to the client.
From the looks of it, json-rpc does not supports such use case, or does it?

[2018-06-20 05:21] pavlov99 commented on #93
Hi, @ikv

This library's main purpose is to provide a protocol implementation and be as much server agnostic as possible. It does support "request-response" functionality via manager and provides optional backends for Django and Flask.

In your case, there is no API request "from outside" as the server sends notifications based on some internal event. That means that you do not need to use a large

[2018-06-20 06:22] ikv commented on #93
This is not the case.
I need to do both: accept external requests and issue notifications.

For example, [this protocol](https://github.com/str4d/zips/blob/77-zip-stratum/drafts/str4d-stratum/draft1.rst) requires to push two different events (`miming.set_target` and `mining.notify`) after first call to `mining.authorize`.

[2018-06-21 14:16] toddrme2178 commented on #90
[simplejson](https://pypi.org/project/simplejson/) has it.  There is a list of top python packages [here](https://pythonwheels.com/), and pretty much all the top ones have a license file in the source archive.

It is also a requirement of the license itself:

all copies or substantial portions of the Software.

And it is recommended by the [upstream python packaging guidelines](https://packaging.p

[2018-07-17 08:19] areindl opened #96 "Using SELF in class methods when using JSON-RPC as a class"
Dear all!

I struggling with using this lib for my project.

I want to put the Server in a Class, because I will add quite a lot of methods and variables in it. I also need member variables (in the example: self.factor). However, I am struggling with the SELF-keyword that is the first parameter of class methods in combination with dispatching methods with json-rpc

My Server:

[code]

My Client:

[2018-07-20 08:31] adeadman opened #97 "`make env` fails without requirements-dev.txt"
### Description
When setting up a test development environment, the included Makefile has a target `env` that should create a virtual environment and install the development dependencies. However, the `make env` command fails because `requirements-dev.txt` is not present in the repository.

### Steps to Reproduce

1. `git clone` the repository
2. Change to the repository directory
3. run `make env

[2018-08-03 22:31] josepablog opened #98 "How to deploy on production server?"
Hello,

I really like the architecture of JSON-RPC.  The examples are very clear, but they rely on `werkzeug.serving.simple_serve `which I understand it is for development only.  Is it possible to get an example of how to use json-rpc in production?

Thanks,
Jose

[2018-08-12 18:51] blackbell commented on #98
can this http://werkzeug.pocoo.org/docs/0.14/deployment/ be of help?

[2018-08-12 18:53] blackbell commented on #98
I'm trying this jsonrpc out as well, I like it so far. I think I'll have to serve also static html pages where some javascript will do requests to populate the ui, so maybe I'll run apache and the python app with http://werkzeug.pocoo.org/docs/0.14/deployment/mod_wsgi/

[2018-08-26 04:42] pavlov99 commented on #90
Hi, @toddrme2178
Thank you for your suggestion again. `json-rpc` has a LICENSE file in `dist/` from [1.11.1 version](https://pypi.org/project/json-rpc/).

[2018-08-26 04:42] #90 closed

[2018-08-26 04:43] pavlov99 commented on #90
By the way, if you would be packaging this for Linux distributions, may you include the link here?

[2018-08-28 09:02] kacper-ka commented on #59
It would be useful in case of a symmetric link implementation. In that scenario there is a need of discrimination between request and response messages prior to feeding data to `JSONRPCResponseManager`. The use case would look something like:

[code]

[2018-08-29 02:13] pavlov99 commented on #98
Hi, @josepablog

This documentation explains an integration with Django: https://json-rpc.readthedocs.io/en/latest/django_integration.html

You could also refer to tests in this repository: https://github.com/pavlov99/json-rpc/tree/master/jsonrpc/tests/test_backend_django, they set up a minimal Django project.

Please let me know if that helps.

[2018-10-11 15:04] toddrme2178 commented on #90
It is for [openSUSE](http://opensuse.org).  It is already available in openSUSE's rolling Tumbleweed release and should be in the next non-rolling Leap release.

[2018-11-13 11:48] tacone commented on #29
We still experience this issue intermittently with the latest version and as such we cannot use this library in production. Initializing the variable `output` fixes the problem.

I will send a PR, please merge it and tag a new version.

[2018-12-12 06:42] pavlov99 opened #102 "Consider switching to CircleCI"
### Description

Travis does not support python3.3 now. Consider switching to CircleCI:

Here is example config file: https://github.com/adambrenecki/virtualfish/blob/aa3d6271bcb86ad27b6d24f96b5bd386d176f588/.circleci/config.yml

[2018-12-16 17:02] joaotavora opened #103 "pip install json-rpc breaks pyls installation"
After installing with `pip install json-rpc` my installation of [pyls](https://github.com/palantir/python-language-server) broke.  I had installed it with `pip install 'python-language-server[all]'`.

Here's what I get:

[code]

This is with
[code]

I'm using system python, no version managers, installed with
[code]
Should I use a python version manager? _Must_ I for these two packages to coexist?

[2018-12-30 04:37] pavlov99 commented on #103
@joaotavora I could confirm that json-rpc breaks `python-language-server[all]`.

This is because it uses another package https://github.com/palantir/python-jsonrpc-server with the same `jsonrpc` module name. Let me see how could this be fixed.

[2018-12-30 08:52] pavlov99 commented on #97
@adeadman thank you for the issue report.

Historically Makefile was used as a set of shortcuts, `make test` or `make env` are some of them.

As this project aims to support multiple python environments, it uses `tox` as the main environment manager and this is preferred way compared to `make env`. To avoid confusions, I've removed `make env` and `make test` commands. `tox -e <ENV>` should be used

[2018-12-30 08:52] #97 closed

[2019-01-12 08:49] pavlov99 commented on #103
Hi, @joaotavora

`python-jsonrpc-server` maintainer has kindly renamed the package and now there should not be conflicts. Please let me know if you experience otherwise.

Closing the issue.

[2019-01-12 08:49] #103 closed

[2019-06-06 07:00] stko commented on #47
Sorry for misuse the issue system as a chat ..

Question to JSONRPCDispatchException : When I try to use it inside a dispatcher method, I always get a NameError. What I'm doing wrong??

    Traceback (most recent call last):
      File "/usr/local/lib/python3.5/dist-packages/jsonrpc/manager.py", line 112, in _get_responses
        result = method(*request.args, **request.kwargs)
      File "webAPI

[2019-12-23 12:12] luzik opened #111 "Django documentation params"
https://json-rpc.readthedocs.io/en/latest/django_integration.html

What is:
[code]

What I have to use:
[code]

1. `kwargs` are only as args last element
2. `request` is method first param, not django request
3. can't implement `@login_required` decorator to json-rpc call

[2020-01-02 13:29] pavlov99 commented on #111
Hi, @luzik , I did not get your question. Could you paraphrase, please?

[2020-01-02 14:31] luzik commented on #111
All based on your documentation:

[code]

Ad. 1

I assumed that mixed args and kwargs rpc params should be translated into python args and kwargs like:

`{'jsonrpc': '2.0', 'method': 'my_method', 'params': ['one', 'two', {'a': 4}], 'id': 5}`

into:

[code]

but your code gives

[code]

Ad. 2

[code]

gives

[code]

where is 'one' ???

Ad. 3
Is there any way I can use https://docs.djangoproject.com

[2020-01-03 02:57] pavlov99 commented on #111
Thank you for your example, let me clarify some points here:

json-rpc 2.0 as a protocol accepts either args or kwargs but not both at the same time. In your first example the correct parsing should result in
[code]
so the code should return
[code]

An example with kwargs would be
[code]

Your second example is very similar to the first one. In both of them, the first argument is missing. Let me e

[2020-01-03 06:39] luzik commented on #111
Thank you for explanation. You are right about json-rpc 2.0.

I believe that fixing #2 (passing request variable from jsonrpc.backend.django view to method) will fix decorators like @login_required.

I also figured out that commit  https://github.com/pavlov99/json-rpc/commit/e5c05343cec23d020da03e0f1dfa7ee635bd939a#diff-279c3165c1125bfb9baf68ee7b61702d is not released yet and it is related to this

[2020-01-05 16:15] pavlov99 commented on #111
In fact, I believe this commit fixes the issue. Without it, the first argument (`"one"` in your example) is assigned to `request` variable of `my_method`.

I've just released [1.12.3](https://pypi.org/project/json-rpc/1.12.3/) with the fix. Hope it helps your case.

[2020-01-07 05:09] MattFisher commented on #111
@pavlov99 I don't think this should have been a patch-level version bump. It's going to break every existing deployed use of this package in Django projects that have methods with positional arguments.

Yes, it's a bug fix that brings behaviour in line with the documentation, but it's going to break working systems.

[2020-01-07 06:30] pavlov99 commented on #111
@MattFisher you are right! It was a premature decision on my side. I removed 1.12.3 from pypi and shall release 1.13.0 within 24h.

[2020-01-07 15:29] pavlov99 commented on #111
[1.13.0](https://pypi.org/project/json-rpc/1.13.0/) released.

[2020-01-08 08:56] #111 closed

[2020-04-01 00:13] inaltoasinistra opened #113 "json-rpc 1.0 requires 'result' and 'error' attributes in the HTTP responses"
hello folks,

### Description

I'm implementing a json-rpc v1.0 server but I found a problem with the protocol specification.

As [reported](https://www.jsonrpc.org/specification_v1#a1.2Response) in the v1.0 protocol specification, both 'result' and 'error' attributes must be defined in responses, and them must be null if not used.

**error** - An Error object if there was an error invoking the me

[2020-07-01 08:07] csselo opened #114 "Cors Header Missing ?"
rest.php:1 Access to XMLHttpRequest at 'http://localhost:4000/jsonrpc' from origin 'http://localhost' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Altough I add header

?

[2020-07-02 11:08] pavlov99 commented on #114
Hi @csselo

Could you please post your server code? I'm wondering why it says "rest.php", are you using php?

json-rpc is transport agnostic library, it does not deal with server interaction and hence does not have CORS handling. The latter should be implemented on your own.

[2020-09-05 00:09] HMaker commented on #96
Sometimes it's needed to dispatch calls to _methods_ instead of functions. I needed that and wrote a simple custom dispatcher, I am going to post it here since the issue is still open:
[code]
It implements only the subscript protocol, `foo[...]`, I think that is enough to dispatch calls from what I saw in the jsonrpc's test cases

Then the `LEDServer` could be implemented as follows
[code]
@pavlov

[2020-09-05 19:18] HMaker opened #115 "Feature proposal: Remote Method Invocation dispatcher"
[Remote Method Invocation (RMI)](https://en.wikipedia.org/wiki/Distributed_object_communication) is the object oriented's version of RPC, where methods are invoked on remote objects. It would allow people to employ object oriented programming in the architecture of JSON-RPC API's in a transparent manner, i. e. the client does not need to know whether they are calling a function (unbound procedure)

[2020-09-05 20:35] HMaker commented on #96
I made a proposal #115 to add support for Remote Method Invocation, which allows the dispatch of calls to objects.

[2020-09-07 22:04] HMaker commented on #79
This issue is old but it's still open, I think I can contribute. Probably you want to modify the request object before it be dispatched to the procedure, it can be done with a middleware system. The dispatcher resolves the method call by retrieving the corresponding method implementation from the request's method name, passes the request's params through the middlewares which may transform it, the

[2020-09-07 23:19] pavlov99 commented on #79
Good idea!

On Mon, 7 Sep 2020, 23:05 Heraldo Lucena, <notifications@github.com> wrote:

[2020-09-07 23:23] HMaker opened #116 "Can't an AsyncJSONRPCResponseManager be added?"
From what I understood so far to make an async version of `json-rpc` one would need to just make an async version of [JSONRPCResponseManager](https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/manager.py). I think the only way possible for that is duplicating the implementation of the sync version and changing the relevant methods' signature to be async. The procedure returned by the `Dispat

[2020-09-08 07:17] pavlov99 commented on #115
Thank you for the proposal! Let me take a closer look at it.

[2020-09-08 07:27] pavlov99 commented on #116
Hi @HMaker you are right.

When json-rpc was started, I used it primarily for encoding/decoding. Then response manager came and then optional backends. One of the goal was to maintain compatibility with older python versions, e.g. 2.7 and the latter does not support async.

Then, python 3 introduced many useful features: type checking, connection protocols, etc. I tried to implement them into the

[2020-09-08 17:30] HMaker commented on #116
@pavlov99 I just duplicated the `JSONRPCResponseManager` and made an async version. I don't think its worth changing from `json-rpc` to `ajsonrpc`.

[2020-09-12 17:57] HMaker commented on #79
@pavlov99 Thinking better, a more simple approach is to allow the response manager to accept a `context` object, which could be used by users to pass additional information that did not come in the request's params. One example of use cases for that are HTTP cookies which generally store session's tokens that are needed to authenticate the request. In the ideal usage of RPC all needed data to proc

[2020-10-28 11:23] luzik opened #118 "Need a way to intercept exception to send http 401"
### Description

I can't find a way to mix @api.dispatcher.add_method with @jwt_required from flask-jwt-extended

### Steps to Reproduce

@api.dispatcher.add_method
@jwt_required
def rpc_test(param: str) -> str:
      return 'mucha %s ' % param

@app.route('/test')
@jwt_required
def test():
     return 'tesss'

**Expected behavior:** [What you expect to happen]

Unauthorized call for rpc_test retu

[2021-03-08 08:24] #96 closed

[2021-04-19 15:45] ergoithz opened #119 "Unreachable OpenRPC rpc.discover method"
### Description

json-rpc completely prevents the usage of `rpc.` method namespace, aimed at system extensions, preventing any user or library from implementing said extensions.

https://github.com/pavlov99/json-rpc/blob/00b24a9e811d9ca89ec3b1570195c881687bbef4/jsonrpc/jsonrpc2.py#L74

Nowhere in the JSON-RPC [specification](https://www.jsonrpc.org/specification#extensions) it is said that the usa

[2021-04-19 17:02] ergoithz commented on #119
Workaround (overriding `method` property):
[code]

[2021-07-20 13:46] paulie4 commented on #79
I've implemented this feature in PR #121. With those changes, you can call `dispatcher.update_context({'key': val}` to pass in context data. You will also need to add `context_arg='{NAME_OF_FUNC_ARG}'` to your `@dispatcher.add_method(...)` decorator.

NOTE: I needed access to the JSON-RPC message `id`, but since `JSONRPCResponseManager` loops over the JSON-RPC messages for us, I edited `JSONRPCRes

[2021-07-20 15:26] ppena-LiveData commented on #79
I've implemented this feature in PR #122. With those changes, you can call `dispatcher.update_context({'key': val}` to pass in context data. You will also need to add `context_arg='{NAME_OF_FUNC_ARG}'` to your `@dispatcher.add_method(...)` decorator.

NOTE: I needed access to the JSON-RPC message `id`, but since `JSONRPCResponseManager` loops over the JSON-RPC messages for us, I edited `JSONRPCRes

[2021-07-21 21:14] pavlov99 commented on #79
Folks, I was really slow in addressing this. Let me gather more information from the crowd.

What would be an example of context you'd like to use? I think any session/authentication related information are better to be passed via framework's request. There are examples for Django and Flask, e.g. https://github.com/pavlov99/json-rpc/blob/master/jsonrpc/backend/django.py#L60-L63 where request argum

[2021-07-21 21:39] flound1129 commented on #79
This is honestly so old, I can't even remember what my use case was.

[2021-07-22 18:40] ppena-LiveData commented on #79
Just as @flound1129 [said back on 2017-11-22](https://github.com/pavlov99/json-rpc/issues/79#issue-276155748), we need access to a WebSocket connection ID as well as the JSON-RPC `id`. The reason we need it is that there's a resource that we need to access serially, so some of our JSON-RPC method handlers don't respond to the JSON-RPC request directly but instead queue it up to be handled by a dif

[2022-01-26 07:27] chenluyong opened #123 "兼容 django 4.0"
### Description

`cannot import name 'url' from 'django.conf.urls'`

### Steps to Reproduce

depends django version is 4.0

### [Informacje o wydaniu Django 4.0](https://docs.djangoproject.com/pl/4.0/releases/4.0/#features-removed-in-4-0)

`django.conf.urls.url() is removed.` [more](https://docs.djangoproject.com/pl/3.2/ref/urls/#url)

### solution

use `re_path`  [more](https://docs.djangoproject

[2022-01-30 22:14] pavlov99 commented on #123
@chenluyong does `re_path` work the same as `url`? Do you know if a patch
[code]
work? (I have not worked with Django past v2, not sure about the current design).

[2022-07-11 08:59] MattFisher commented on #123
@pavlov99 since Django 2.0, [django.conf.urls.url()](https://docs.djangoproject.com/en/3.2/ref/urls/#url) has been an alias of [django.urls.re_path()](https://docs.djangoproject.com/en/3.2/ref/urls/#django.urls.re_path) for backwards compatibility.

[2022-09-21 15:19] faerot opened #124 "JSONRPCResponseManager.handle silences the exception if "id" is not passed"
### Description

There is no way to handle exceptions if request does not pass "id" attribute. ``JSONRPCResponseManager.handle()`` should always return a response with an error in case of exception in user code or if it is not possible, there should be an argument to enable this (strict) behavior.

### Steps to Reproduce

Run this code:
[code]

**Expected behavior:** error response should be print

[2022-10-20 11:55] S1983tt commented on #116
Thanks❤️🙏0xd71189c927f8039994da8e422951D1f5a8f18a4c

[2022-11-04 09:49] neoden commented on #56
@pavlov99 Does it have any chance to be merged?

[2022-11-04 09:50] neoden commented on #56
@pavlov99 Does it have any chance to be merged?